/* Tema Escuro*/

:root{
    --cor: rgb(0, 0, 0); /*Define que o valor padrão da variável "--preto"*/
}

@media (prefers-color-scheme:dark) {
    :root{
        --cor: rgb(255, 255, 255); /*Transforma o valor da variável*/
    }
    .catImg{
        filter: invert();
    }
    html{
        color-scheme: dark;
    }
}
/*Define as configurações do tema claro*/
[modo-light-dark="light"] { 
    color-scheme: light;
    --cor: rgba(0,0,0, 0.87);
}
/*Define as configurações do tema escuro*/
[modo-light-dark="dark"] {
    color-scheme: dark;
    --cor: rgba(255, 255, 255, 0.87);
    .catImg{
        filter: invert();
    }
}

/*-----------------------------*/

/* Fontes*/

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

@font-face {
    font-family: "OpenSauce";
    src: url('../Fonts/OpenSauceSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "OpenSauceB";
    src: url('../Fonts/OpenSauceSans-Bold.ttf') format('truetype');
}

/*-----------------------------*/

body {
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    .car-header {
      display: flex;
      gap: 30px;
      align-items: start;
    }
    .car-image {
      width: 650px;
    }
    .car-info {
      flex: 1;
    }
    .badge {
      background-color: #ff66c400;
      color: #ff66c4;
      display: hidden;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
      margin-bottom: 8px;
      margin-top: 99px;

      font-family: OpenSauce;
    }
    .title {
      font-size: 25pt;
      margin: 0 0 10px 0;

      font-family: OpenSauce;
    }

    .details{
        width: 350px;
        text-align: justify;

        color: var(--cor);
        font-family: "OpenSauce";
        font-size: 13pt;
    }

    .details ul {
      list-style: none;
      padding: 0;
    }

    .cat{
        display: flex;

        width: 120%;
        height: 70px;

        column-gap: 15px;
    }

    .catItem{
        display: flex;
        width: 35%;
        height: 95%;

        justify-content: center;
        align-items: center;
        border: #333333 solid 2px;
        border-radius: 10px;

        padding-left: 7px;
        padding-right: 10px;
    }

    .catDesc h5{
        color: var(--cor);
        margin: 0;
        
        font-family: "OpenSauceB";
        font-size: 9pt;
    }

    .catDesc p{
        color: #ff4ec7;
        margin: 0;

        font-family: "OpenSauce";
        font-size: 10pt;
    }

    .catImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .catImg img{
        width: 70%;
    }
    
    .section {
      margin-top: 40px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 8px;
    }
    .section h3 {
      margin-top: 0;
    }
    .price-details p, .h3_price-details{
        font-family: OpenSauce;
    }
    .extra-info p {
      font-size: 14px;
      font-family: OpenSauce;
    }
    .toggle-btn {
      background: none;
      color: #ff66c4;
      border: none;
      cursor: pointer;
      font-size: 14px;
      margin-top: 10px;
    }
    .rent-btn {
      background-color: #ff4ec7;
      color: white;
      padding: 15px 40px;
      border: none;
      font-size: 20px;
      border-radius: 50px;
      cursor: pointer;
      margin-top: 30px;
    }
    .icon-img {
      width: 40px;
    }
    .form-section {
      margin-top: 30px;
    }
    form input, form label {
      display: block;
      margin: 10px 0;
    }
    input[type="text"], input[type="email"] {
      padding: 8px;
      width: 100%;
      max-width: 400px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .success-message {
      color: green;
      font-weight: bold;
      margin-top: 20px;
    }



a{
    text-decoration: none;
    color: var(--cor);
}

header{
    display: flex;
    width: auto;
    height: 100px;

    background-color: #060506;
    
    align-items: center;
}

.navUl{
    margin: 0;
    display: flex;

    column-gap: 65px;

    list-style: none;

    margin-left: 20px;
}

ul{
    margin: 0;

    list-style: none;

    margin-left: 20px;
}

/* Animação links navBar */

.navLi h1{
    font-family: 'OpenSauce';
    font-size: 13pt;

    position: relative;       /* necessário para o ::after */
    display: inline-block;
}

.navLi h1:hover{
    transform: translateY(0px);

}

.navLi h1:after{
    content: '';
    left: 0;
    bottom: -2px;
    position: absolute;

    width: 98%;
    height: 2px;
    background: #ff66c4;
    transform-origin: center;

    margin: auto;

    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    
}

.navLi h1:hover::after{
    transform: scaleX(1);
    transition: transform 0.2s ease-out;
}

/*-------------------------- */

h1{
    margin: 0;
    color: white;

    font-family: "OpenSauce";
    font-size: 13pt;
}

.tema_select{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: auto;

    column-gap: 20px;
}

select{
    height: 50px;
    width: 140px;
    border-radius: 30px;
    background-color: #ff66c4;
    color: white;
    font-size: 12pt;
    font-family: "OpenSauce";
    padding: 10px;

    margin-left: auto;
}
.navbar{
    display: flex;
    width: 33.3%;

    align-items: center;
    justify-content: start;
}

.line{
    width: 100%;
    height: 4px;

    background-color: #ff66c4;
}

.logoB{
    display: flex;
    width: 33.3%;

    justify-content: center;
}

.logo{
    width: auto;
    padding: 15px;
}

.logo img{
    width: 70px;
    margin-left: auto;
}

.userLogo{
    display: flex;

    justify-content: end;

    margin-right: 20px;
}

.userLogo img{
    width: 45px;

    filter: invert();
}


/* Footer */

footer {
    background-color: #000;
    color: white;
    padding: 40px 20px 0 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer-section {
    margin-left: 130px;
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #ecf0f1;
}

.footer-section p,
.footer-section ul li {
    font-size: 15px;
    color: #bdc3c7;
    margin: 10px 0;
    padding: 0;
}

.footer-section .a_rua{
    color: #bdc3c7;;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li img {
    vertical-align: middle;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #ecf0f1;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

.footer_div {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-left: 130px;
}
.footer_lista {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    justify-content: center;
    font-size: 15pt;
}
.footer_lista .a_marca{
    color: #ffffff;
}
.footer_lista ul{
    margin-left: 0;
    padding-left: 0;
}
.footer_lista li{
    padding: 0;
}
.footer_lista a {
    color: #bdc3c7;
}
.div_footer_img{
    display: flex;
}
.bandeira_japao{
    display: flex;
    justify-content: center;
}
.bandeira_japao img{
    height: 75px;
    width: 110px;
}

/*----------------------------- */